::selection {
  background: indigo;
  color: orange;
}

:root {
  color: midnightblue;
  background-color: deepskyblue;
  background-image:
    linear-gradient(.801turn, transparent, transparent, transparent, yellow, transparent),
    linear-gradient(.303turn, yellow, yellow, greenyellow, aquamarine, transparent, orchid, blueviolet, hotpink, mediumblue);
}

:any-link {
  color: indigo;
  background-color: mistyrose;
  background-image: linear-gradient(.6turn, yellow, transparent, transparent, transparent, greenyellow);
  outline-color: navy;
  text-shadow: 3em 3em 1em salmon;
}

.swoon {
  background: hotpink;
  background-image: linear-gradient(.2turn, salmon, hotpink);
}
